.displaywish-container{
  width: 100%;
  min-height: 545px;
  display: flex;
  flex-direction: column;
  
  .wishlist-heading{
      margin-left: 10%;
      margin-top: 2%;
      font-size: 16px;
      font-weight: 600;
      
  }
  .wishlist{
      width: 774px;
      height: auto;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #707070;
      border-radius: 1px;
      margin-left: 10%;
      margin-top: 3%;
      font-size: 16px;
      font-weight: 600;
     
      display: flex;
      flex-direction: column;
      margin-bottom: 5%;
      .wish-head{
          background: #F5F5F5;
          height: 40px;
          border: 1px solid #E4E4E4;
          display: flex;
          align-items: center;
          padding-left: 5%;
      }
      .book-det{
        margin-top: 2%;
        display: flex;
        padding-left: 5%;
        width: 40%;
      }
      .book-detail{
          display: flex;
          flex-direction: column;
          // width: 250px;
          width: 100%;
          margin-bottom: 5%;
          .book--name{
              // width: 150px;
              width: 100%;
              margin-left: 5%;
              font-size: 15px;
              
              .author--name{
                  font-size: 12px;
                  margin-top: 1.5%;
              }
          }
          
      }
  }
  
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;

 margin-left: 60%;
  .remove-wish{
      margin-left: 50%;
      background-color: #FFFFFF;
      border:none;
      height: 30px;
      color: grey;
      
  }
  .addcart-btn{
      height: 30px;
      background-color: #FFFFFF;
      color: grey;
      border: none;
      border-radius: 3px;

  }
}